@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark,.dark *)); /* ✅ v4 way of dark mode */

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #e6ccff; /* ✅ v4 way of custom colors */
}

::-webkit-scrollbar {
  display: none;
}
